venv/
__pycache__/
*.egg-info/
dist
MANIFEST
tmp
emulator_config.json
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLinters/jshint.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/RGBMatrixEmulator.iml
/.idea/vcs.xml
